:root {
  /**
    Colors
  */
  --space-indigo: #28253dff;
  --ink-black: #101a21ff;
  --sunflower-gold: #ffba49ff;
  --charcoal-blue: #404c5fff;
  --night-bordeaux: #5c1229ff;
  --vanilla-cream: #f4ead4ff;

  --color-text: var(--vanilla-cream);
  --color-background: var(--ink-black);
  --color-light: var(--vanilla-cream);
  --color-primary: var(--sunflower-gold);
  --color-primary-hover: var(--vanilla-cream);

  /**
    Spacing and units
  */
  --unit: 1rem;
  --container-width: 60ch;

  /**
    Fonts
  */
  --font-family-display: "Cinzel", serif;
  --font-family-serif: "Quattrocento", serif;
  --font-family-sans-serif: "Quattrocento Sans", sans-serif;

  /* @media (prefers-color-scheme: light) {
  } */
}