body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family-sans-serif);
}

a {
    color: var(--color-primary);
    transition: color 0.2s ease;
}

a:hover, a:focus {
    color: var(--color-primary-hover);
}

hr {
    border-color: var(--color-light);
}

img {
    height: auto;
}

label,
input,
textarea {
    display: block;

    width: 100%;
}

button {
    margin: 0;
}