body {
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: var(--font-family-sans-serif);
}

a {
    color: var(--color-primary);
}

hr {
    border-color: var(--color-light);
}

img {
    height: auto;
}

label,
input,
textarea {
    width: 100%;
    display: block;
}

button {
    margin: 0;
}