<a href="/" class="site-logo-container">
  {% set el = "span" %}
  {% if context == "header" %}
    {% set el = "h1" %}
  {% endif %}
  <img
    src="/assets/images/hyperia-logo-transparent.png"
    alt="Hyperia"
    class="site-logo"
  >
  <{{el}} class="site-title">{{ site.name }}</{{el}}>
</a>