:root {
  /**
    Colors
  */
  --space-indigo: #28253dff;
  --ink-black: #101a21ff;
  --sunflower-gold: #ffba49ff;
  --charcoal-blue: #404c5fff;
  --night-bordeaux: #5c1229ff;

  --color-text: #222;
  --color-background: white;
  --color-light: silver;
  --color-primary: #7950f2;

  /**
    Spacing and units
  */
  --unit: 1rem;
  --container-width: 60ch;

  /**
    Fonts
  */
  --font-family-display: "Cinzel", serif;
  --font-family-serif: "Quattrocento", serif;
  --font-family-sans-serif:  "Quattrocento Sans", sans-serif;

  /* @media (prefers-color-scheme: dark) {
  } */
}